[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pagemap"]
	path = pagemap
	url = https://github.com/swsoyee/pagemapr
[submodule "r3dmol"]
	path = r3dmol
	url = https://github.com/swsoyee/r3dmol
